<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>1</servlet-name>
    <jsp-file>/WEB-INF/test/X-XSS-Protection.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>1</servlet-name>
    <url-pattern>/test/X-XSS-Protection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>2</servlet-name>
    <jsp-file>/WEB-INF/result/X-XSS-Protection.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>2</servlet-name>
    <url-pattern>/result/X-XSS-Protection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>3</servlet-name>
    <jsp-file>/WEB-INF/test/Content-Security-Policy.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>3</servlet-name>
    <url-pattern>/test/Content-Security-Policy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>5</servlet-name>
    <jsp-file>/WEB-INF/test/Access-Control-Allow-Origin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>5</servlet-name>
    <url-pattern>/test/Access-Control-Allow-Origin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>6</servlet-name>
    <jsp-file>/WEB-INF/result/Access-Control-Allow-Origin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>6</servlet-name>
    <url-pattern>/result/Access-Control-Allow-Origin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>7</servlet-name>
    <jsp-file>/WEB-INF/test/Cache-Control.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>7</servlet-name>
    <url-pattern>/test/Cache-Control</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>8</servlet-name>
    <jsp-file>/WEB-INF/test/Referrer-Policy.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>8</servlet-name>
    <url-pattern>/test/Referrer-Policy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>9</servlet-name>
    <jsp-file>/WEB-INF/test/Bank.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>9</servlet-name>
    <url-pattern>/test/Bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>10</servlet-name>
    <jsp-file>/WEB-INF/test/X-Frame-Options.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>10</servlet-name>
    <url-pattern>/test/X-Frame-Options</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>11</servlet-name>
    <jsp-file>/WEB-INF/test/Clear-Site-Data.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>11</servlet-name>
    <url-pattern>/test/Clear-Site-Data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>12</servlet-name>
    <jsp-file>/WEB-INF/result/Clear-Site-Data.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>12</servlet-name>
    <url-pattern>/result/Clear-Site-Data</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>13</servlet-name>
    <jsp-file>/WEB-INF/test/sop_cookie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>13</servlet-name>
    <url-pattern>/test/sop_cookie</url-pattern>
  </servlet-mapping>
</web-app>